.titlecards{
    margin-top: 30px;
    margin-bottom: 3px;
}

.titlecards h2{
    margin-bottom:  0px;
}

.card-list{
    display:  flex;
    gap: 10px;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar{
    display: none;
}

.card-list img{
    width:140px;
    border-radius: 4px;
    cursor: pointer;
}

.card-list .card{
    position: relative;
}

.card-list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
}