.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
    color: white;
    
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin: 40px 0;
}

.footer-icons img{
    width: 35px;
    cursor: pointer;
}

.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
    cursor: pointer;
}

.copyright-text{
    font-size: 14px;
    color: white;
}